.register-container {
    width: 25rem;
    height: 40rem;
    flex-direction: column;
    color: var(--darkgreen);
}

.register-container h2 {
    text-shadow: 0 0 .2rem #00ffd571;
}

.register-container .form {
    width: 80%;
    flex-direction: column;
    height: 80%;
    gap: 1rem;
}

.register-container .form label {
    font-size: 1.4rem;
    width: 90%;
}

.register-container .form label .input-container {
    width: 100%;
}


.register-container .form label .input-container .input {
    width: 100%;
    height: 2rem;
    border-radius: .3rem;
    border: .1rem solid var(--darkgreen);
    text-align: center;
    transition: .2s;
    box-sizing: border-box;
    color: var(--darkgreen);
}
.register-container .form label .input-container .input::placeholder {
    color: var(--green);
    transition: .2s;
}

.register-container .form label .input-container .input:focus::placeholder {
    color: #0cc9a9;
}
.register-container .form label .input-container .input:focus {
    outline: none;
    border-radius: .8rem;
    border: .15rem solid #00e4be;
    color: #00e4be;
}

.register-container .btn {
    padding: .4rem;
    background: linear-gradient(to top, var(--darkgreen), #00e4e4);
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    border: .1rem solid var(--darkgreen);
    margin: 0.5rem;
    border-radius: .3rem;
    transition: .2s;
}

.register-container .btn:hover {
    filter: brightness(1.1);
    border-radius: .6rem;
}
.password_advice{
    font-size: .8rem;
    width: 100%;
    text-align: center;
}

@media (max-width: 425px) {
    .register-container {
        width: 300px;
        height: 28rem;
    }

    .register-container .form label {
        font-size: 1rem;
    }

    .register-container .form label .input-container .input {
        height: 1.2rem;
    }

    .register-container .btn {
        font-size: .9rem;
    }
}