.profile-container {
    width: 100%;
    height: 100%;
}
.profile-info {
    width: 100%;
    height: 40rem;
}

.profile-info .profile-img {
    width: 100%;
    height: 12rem;
    box-shadow: 0 -3rem 4.5rem var(--darkgreen);
}

.profile-info .profile-img .banner-profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 .1rem rgba(0, 0, 0, 0.185);
}

.profile-info .profile-img .profile-picture {
    position: relative;
    translate: 3rem -5rem;
    border-radius: 50%;
    box-shadow: inset 0 0 1rem black;
    height: 8rem;
    border: .2rem solid var(--white);
}
.profile-container .profile-text {
    width: 100%;
}
.profile-text .edit-profile {
    height:6rem;
    width: 100%;
    box-sizing: border-box;
    padding: 0 3%;
}

.profile-text .edit-profile .btn-navigation {
    padding: 1rem;
}

.profile-text .generalInfo-container {
    box-shadow: 0 .1rem rgba(0, 0, 0, 0.185);
    padding: 0 3%;
    box-sizing: border-box;
}
.profile-text .user-info h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

.profile-text .user-info h2 {
    font-size: 1.2rem;
    font-weight: 400;
}
.profile-text .user-info h3 {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: .2rem;
}
.profile-text .user-info p {
    font-weight: 300;
    margin: .5rem 0;
}
.profile-text  .btn-navigation {
    color: var(--white);
    background: var(--darkfirst);
    border: .1rem solid var(--first);
    font-size: 1.2rem;
    padding: .3rem 1rem;
}

.profile-container .profile-text .user-info .btn-navigation:hover {
    background: rgba(255, 255, 255, 0.856);
}
.profile-text .about-container {
    width: 100%;
    height: 15rem;
}

.profile-text .about-container p {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
}
.profile-text .about-container .title {
    height: 5rem;
    color: var(--white);
}
.common-contacts {
    height: 3rem;
}

.profile-container .info-section {
    width: 100%;
}
.profile-container .title {
    width: 100%;
    box-sizing: border-box;
    padding: 1% 3%;
    height: 5rem;
}
.profile-container .info-section .data {
    box-sizing: border-box;
    background: linear-gradient(-05deg, rgb(210, 200, 219), transparent);
    padding: 1rem;
    box-shadow: 0 0 .2rem var(--darkfirst),
                inset -.1rem -.1rem .2rem rgba(0, 0, 0, 0.164),
                inset .1rem .1rem .2rem rgba(255, 255, 255, 0.356);
}


.profile-container .info-section .data-container {
    min-height: 10rem;
}

.profile-container .info-section .data .name-data {
    font-weight: 600;
}

.profile-container .info-section .data .extra-data {
    font-style: italic;
}

.profile-container .info-section .data .btn-navigation {
    width: 10rem;
}

.profile-container .info-section .data .btn-navigation:hover p {
    font-weight: 600;
}

@media (max-width: 500px) {
    .profile-text .user-info h3 {
        font-size: 1.3rem;
        font-weight: 400;
        letter-spacing: .1rem;
    }

    .profile-text  .btn-navigation {
        font-size: .9rem;
        padding: .2rem .7rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .profile-info .profile-img .profile-picture {
        height: 7rem;
        translate: 2rem -4rem;
        
    }
}