@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* :root {
  --lightfirst: #EE82EE;
  --first: #6A0DAD;
  --darkfirst: #5800a0;
  --white: #ffffff;
  --grey: #a399ad;
  --darkgrey: #554a5a;
  --black: #111111;
} */
:root {
  --lightfirst: #cc77cc;
  --first: #9853d1;
  --darkfirst: #4f2969;
  --white: #ffffff;
  --grey: #a399ad;
  --darkgrey: #554a5a;
  --black: #111111;
}
/* font-family: 'Montserrat', sans-serif; */
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: linear-gradient(to top, var(--grey), var(--white));
  overflow: hidden;
}
.flex {
  display: flex;
}

.f-column {
  flex-direction: column;
}

.align-c {
  align-items: center;
}

.justify-c {
  justify-content: center;
}

.justify-e {
  justify-content: flex-end;
}
.justify-sb {
  justify-content: space-between;
}

.purpleGradient-box {
  box-shadow: 0 0 0.6rem var(--first),
    inset -0.1rem -0.1rem 0.2rem rgba(0, 0, 0, 0.164),
    inset 0.1rem 0.1rem 0.2rem rgba(255, 255, 255, 0.356);
  background: linear-gradient(-45deg, var(--darkfirst), var(--first));
  color: var(--white);
}

@media (max-width: 800px) {
  #root {
    flex-direction: column;
  }
}
