@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* :root {
  --lightgreen: #b9e6d5;
  --green: #7fd9be;
  --darkgreen: #53c9a2;
  --white: #EDEDED;
  --grey: #CCCCCC;
  --darkgrey: #757474;
  --black: #111111;
} */
:root {
  --lightgreen: #EE82EE;
  --green: #6A0DAD;
  --darkgreen: #5800a0;
  --white: #ffffff;
  --grey: #a399ad;
  --darkgrey: #554a5a;
  --black: #111111;
}
/* font-family: 'Montserrat', sans-serif; */
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: linear-gradient(to top, var(--grey), var(--white));
  overflow: hidden;
}
.flex {
  display: flex;
}

.f-column {
  flex-direction: column;
}

.align-c {
  align-items: center;
}

.justify-c {
  justify-content: center;
}

.justify-e {
  justify-content: flex-end;
}


@media (max-width:800px) {
  #root{
    flex-direction: column;
  }
}

